bin/
splitExcel.si4project/
*.o
debug/
object_script.splitExcel.Debug
Makefile.Debug
.qmake.stash
Makefile.Release
object_script.splitExcel.Release
Makefile
ui_testtimeer.h
ui_splitonlywindow.h
ui_splitandemailwindow.h
ui_processwindow.h
ui_mainwindow.h
ui_emailonlywindow.h
ui_configsetting.h
splitonlywindow.h.autosave
splitonlywindow.h.autosave
splitExcel.pro.user.a2ebd75.4.9-pre1
splitExcel.pro.user
usersliuwen~1appdatalocaltemptmp29zj5t
usersliuwen~1appdatalocaltemptmp75wtfi
usersliuwen~1appdatalocaltemptmpbu_icw
usersliuwen~1appdatalocaltemptmpenazvg
usersliuwen~1appdatalocaltemptmpj15cj9
usersliuwen~1appdatalocaltemptmpkgurcs
usersliuwen~1appdatalocaltemptmpmvx0km
usersliuwen~1appdatalocaltemptmpq38zrz
usersliuwen~1appdatalocaltemptmpvjbsvw
usersliuwen~1appdatalocaltemptmpvqrwwd
